@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* { box-sizing: border-box; }

:root {
    --h1-fontsize: 4.3rem;
    --h2-fontsize: 2.6rem;
    --h3-fontsize: 1.9rem;
}


html, body {
    margin: 0 auto;
    font-family: "Noto Sans TC", "sans-serif";
}

.main-intro {
    background-color: #008577;
    text-align: center;
    padding: 2.7rem 0;
}

.main-intro > h1 {
    font-size: var(--h1-fontsize);
    color: #00c9bb;
}

.submain-intro {
    color: #fff;
    font-size: 1.4rem;
}

.project-intro {
    text-align: center;
    padding-top: 1.3rem;
}

.project-intro > h2 { font-size: var(--h2-fontsize); }

.group-img-wrapper {
    padding: 1.5rem 0;
    position: relative;
    z-index: 2;
}

.group-img-bg-decoration {
    position: relative;
    background-color: #00c9bb;
    margin-top: -33.2vw;
}

.project-content {
    padding: 35vw 15vw 2.5rem 15vw;
    font-size: 1.3rem;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-content > h3 { font-size: var(--h3-fontsize); }
.project-content a { text-decoration: none; }
.project-content > h3 > a { color: #f00; }
.project-content > a {
    color: #fff;
    margin: 30px;
}


.github-link {
    padding: 1.1rem;
    width: 250px;
    border: 2px solid #fff;
    transition: all .3s ease;
}

.github-link:hover {
    cursor: pointer;
    background-color: #008577;
    color: #fff;
}

.group-img {
    border: 5px solid #acacac;
    border-radius: 5px;
    width: 60vw;
    height: auto;
}

.member-intro > h3 {
    text-align: center;
    font-size: var(--h3-fontsize);
}

.member-intro-row {
    display: flex;
    justify-content: space-around;
    padding: 0 3.2rem 1.5rem 3.2rem;
    flex-wrap: wrap;
}

.member-card {
    min-width: 15rem;
    width: calc(100vw / 6);
    margin: 1.4rem 0;
    border-radius: 5px;
    border: 0.1rem solid #ccc;
}

.member-img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.member-card > p {
    padding: 0.3rem 1rem;
    margin: 0;
    font-weight: 700;
}

.member-card > p > span { color: #888; }

footer {
    height: 2.5rem;
    background-color: #008577;
}
